@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* public-sans-regular - latin */
  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local(""),
      url("/fonts/public-sans/public-sans-v11-latin-regular.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/public-sans/public-sans-v11-latin-regular.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* public-sans-500 - latin */
  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: local(""),
      url("/fonts/public-sans/public-sans-v11-latin-500.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/public-sans/public-sans-v11-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* public-sans-600 */
  @font-face {
    font-family: "Public Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: local(""),
      url("/fonts/public-sans/public-sans-v14-latin-600.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/public-sans/public-sans-v14-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: "Public Sans";
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: local(""),
      url("/fonts/public-sans/public-sans-v11-latin-italic.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/public-sans/public-sans-v11-latin-italic.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* fraunces-900 - latin */
  @font-face {
    font-family: "Fraunces";
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: local(""),
      url("/fonts/fraunces/fraunces-v10-latin-900.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("/fonts/fraunces/fraunces-v10-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* Prevent excessive date input height in Webkit */
  input::-webkit-datetime-edit {
    display: block;
    padding: 0;
  }
}

input::-webkit-date-and-time-value {
  text-align: left;
}

@supports (-webkit-touch-callout: none) {
  .min-h-screen {
    min-height: -webkit-fill-available;
  }
}
